*{
    padding:0;
    margin:0;
}

body {
    background-color:black;
    color:white;
}

.wrapper {
    margin:0 auto;
    max-width:800px;
}

a {
    text-decoration:none;
    color:white;
}

li {
    list-style:none;
}

/*泡のアニメーション*/

.bubble-background {
    position:relative;
    background-color: #000;
    height:85vh;
    width:100%;
    overflow: hidden;
    z-index:0;
}

.bubble {
    position:absolute;
    bottom:-100px;
    background-color:transparent;
    border-radius:50%;
    pointer-events:none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    animation: bubble 8s linear infinite; 
    z-index:0;
}

.bubble::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(rgba(255,255,255, 0.5), transparent);
    border-radius: 50%;
  }


@keyframes bubble {
    0% {
      transform: translatY(0);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }


/*アニメーションの終わり*/




/*header*/

header {
    margin-top:30px;
    font-size:20px;
}

.a_itme {
    width:90%;
}

.a_itme ul{
    display:flex;
    justify-content:flex-end;
}

.a_itme li{
    margin:15px 15px;
    font-family: 'Caveat', cursive;
    font-size:80px;
}


/*main*/

.grab {
    width:100%;
    color:white;
    margin-top:80px;
    position:relative;
    z-index:1000;
}

.name {
    display:flex;
    width:80%;
    justify-content: space-between;
    
}

.picture img{
    border-radius:50%;
    width:150px;
    height:150px;
}



.profile h1{
    font-family:'Homemade Apple', cursive;
    text-align:center;
    font-size:100px;
}

.Dialogue {
    width:80%;
    background-color: rgb(0, 0, 0);
    
}

.Dialogue p{
    
    font-size:30px;
    color:rgb(255, 255, 255);
}

.Dialogue ul{
    margin-top:20px;
    display:flex;
}

.Dialogue li{
    margin-right:10px;
}

#instagram {
    background-color:rgb(248, 58, 156);
    padding:5px 25px;
    font-size:20px;
    letter-spacing:2px;
    font-family:serif;
    border-radius:50px;
}

#twitter {
    background-color:rgb(63, 160, 250);
    padding:5px 30px;
    font-size:20px;
    letter-spacing:2px;
    font-family:serif;
    border-radius:50px;
}


/*メディクリ*/
@media(max-width:670px){
    .bubble-background {
        height:100vh;

    }
    .profile h1{
        font-family:'Homemade Apple', cursive;
        text-align:center;
        font-size:50px;
    }
    .picture img{
    border-radius:50%;
    width:100px;
    height:100px;
    }
    #instagram {
        padding:5px 10px;
       
    }
    
    #twitter {
        padding:5px 10px;
        
    }


}


